body {
    font-family: consolas;
    width: 75%;
    padding-left: 25px;

}
.name{
    text-decoration: underline;
}
.address{
    font-style: italic;
         padding-bottom:10px;
}
.img{
    padding-left: 25px;
    padding-top 10px;
    padding-bottom:10px;
}
img{
    width: 50%;
}
.review{
     padding-bottom:10px;
}
.rating{
    padding-bottom:10px;
}

.formContianer{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}
input[type=text] {

  margin: 8px 0;

}